.Trash-1000
.vagrant
data/*.ovpn

data/htb/challenges/crypto/BabyEncryption/chall.py

data/htb/challenges/misc/Canvas/canvas
data/htb/challenges/misc/misDIRection/.secret

data/htb/challenges/pwn/racecar/racecar
data/htb/challenges/pwn/racecar/__pycache__

data/htb/challenges/web/DiogenesRage/web_diogenes_rage

data/htb/challenges/web/gunship/Gunship
data/htb/challenges/web/baby_CachedView/web_baby_cachedview

data/htb/challenges/web/LoveTok/web_lovetok

data/htb/challenges/web/Neonify/web_neonify

data/htb/challenges/web/petpet_rcbee/*.png
data/htb/challenges/web/petpet_rcbee/*.jpg
data/htb/challenges/web/petpet_rcbee/*.gif
data/htb/challenges/web/petpet_rcbee/*.txt
data/htb/challenges/web/petpet_rcbee/web_petpet_rcbee

data/htb/challenges/web/WeatherApp/web_weather_app

data/htb/challenges/web/Toxic/web_toxic
