.vagrant
data/*.ovpn

data/htb/challenges/web/gunship/Gunship
data/htb/challenges/web/LoveTok/web_lovetok
data/htb/challenges/web/WeatherApp/web_weather_app
data/htb/challenges/web/Toxic/web_toxic
data/htb/challenges/crypto/BabyEncryption/chall.py